* {
  box-sizing: border-box;
}
.option-item{
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 8px;
}

textarea {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  resize: none;
  min-height: 200px;
  border: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  outline: none;
  border-radius: 4px;
}

.template-tip {
  color: #888;
  font-size: 12px;
  margin-bottom: 12px;
}
